<ruby>
=begin
  Name:  artillery/tnspoison_checker
    This script is intended to be used with the Metasploit Framework as a part of the artillery suite of resource scripts
    For more information see:
      Artillery Resource Scripts: https://github.com/sil3ntcor3/artillery
      Metasploit Framework:  https://github.com/rapid7/metasploit-framework

  Author: Matt Young
    twitter: @sil3ntcor3

  Description:
    This Metasploit RC-File is used to check for TNS Poison.
    It does so by using auxiliary/scanner/oracle/tnspoison_checker against all discovered Oracle TNS services
    Targets are chosen by matching service names with 'oracle-tns' and ports of 1521/tcp

=end
# Print Header
print_status "Using auxiliary/scanner/oracle/tnspoison_checker"
  
# Get a list of target services
targets = []
begin
  framework.db.services.each do |service|
    if ( service.name =~ /oracle-tns/i and service.state == 'open' and service.proto == 'tcp')
      targets << {'ip' => service.host.address, 'port' => service.port}
    end
  end
  # Remove any duplicate entries
  targets.uniq!

rescue ActiveRecord::ConnectionNotEstablished
  puts "DB not connected..."
  return
end

if targets.empty?
  print_warning "No targets found"
else
  # Get a lits of unique target ports
  target_ports = (targets.map {|t| t['port'] }).uniq

  # Setup the module
  self.run_single("use auxiliary/scanner/oracle/tnspoison_checker")
  self.run_single("set ShowProgress false")
  self.run_single("set VERBOSE false")
  
  # Run the module once for each discovered target port (with the associated hosts)
  target_ports.each do |target_port|
    self.run_single("set RPORT #{target_port}")
    target_rhosts = ((targets.select {|t| t['port'].eql? target_port}).map {|t| t['ip'] }).join (" ")
    self.run_single("set RHOSTS #{target_rhosts}")
    self.run_single("run")
  end
end
</ruby>
